*{
    box-sizing: border-box;
}
.navbarContainer{
    display: flex;
    justify-content: space-between;
    background-color: #f1f2f6;
    padding-bottom: 30px;



}

.leftItem{
    padding: 50px 0 0 80px;
    font-size: 18px;
    font-weight: 700;
}
.leftItemLink{
    text-decoration: none;
}

.rightItems{
    padding: 50px 80px 0 0 ;
    font-size: 18px;
    font-weight: 500;
}
.rightItemLink{
    text-decoration: none;
    margin-right: 30px;
}
.rightItemLink:hover{
    border-bottom: 3px solid darkblue;
    color:#130f40 ;
}

.scroll{
    position: sticky;
    top: 0;
    background-color: white;

}
